* {
  box-sizing: border-box;
  font-family: segoe UI;
  margin:0; 
  padding:0;
}
body,html{
  height: 100%;
  width: 100%;
}

h1 {
display: none;
}

a {
color: #333;
display:inline-block;
text-decoration: none;
}
.container-login {
height: 100%;
margin: auto;
text-align: center;
background: #f7f9fa;
}

h2 {
cursor: pointer;
text-align: center;
font-size: 17px;
font-weight: 600;
text-transform: uppercase;
display:inline-block;
margin: 30px 8px 8px 8px; 
color: #cccccc;
}

h2.active {
color: #052F5F;
border-bottom: 2px solid #6cdae6;
}

h2.inactive {
color: #44d9e6;
font-family: 'Segoe UI';
}
#form-sesion,
#form-registro {
  width: 90%;
  margin: auto;
}
#form-registro {
  display: none;
}

#form-footer {
padding: 4%;
text-align: center;/*
-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;*/
}
label {
float: left;
padding: 12px;
font-size: 18px;
color: #2b485d;
}

input[type=text], 
input[type=password]{
background: #fff;
border: none;
padding: 15px 32px;
font-family: segoe UI;
text-decoration: none;
display: inline-block;
font-size: 16px;
width: 100%;
outline: none;
border: 2px solid #f6f6f6;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=password]:focus{
background-color: #fff;
border-bottom: 3px solid #72BFE9;
}
[type=button]{
width: 60%;
margin: 5% auto;
border: none;
color: white;
padding: 4%;
display: block;
font-size: 16px;
font-family: segoe UI;
cursor: pointer;
border-radius: 3px;
background: #052F5F;
}

#google {
background: #d62d20;
}

[type=button]:hover {
transition: 0.7s;
background:#44d9e6;
}

.message {
padding: 3%;
margin: 0% 15%;
display: none;
}

.underline-hover:hover {
color:#44d9e6;
transition: 0.5s;
}
#logo {
padding: 2%;
margin: auto;    
display: block;
}
#slide {
  display: none;
}
.msjerror {
  font-size: 15px;
}
@media screen  and (min-width:600px) {
#form-sesion,
#form-registro {
  width: 70%;
  margin: auto;
}
  
h1 {
display: block;
font-size: 50px;
color: #6cdae6;
}

span {
color:#f1a203;     
}

#slide img {
 width: 100%;
  height: 100%;
  overflow: hidden;
}
  
.icon{  
padding: 0;
width: 20%;
float: left;
margin: 40% auto;
}
}

@media screen  and (min-width:800px) {
 .container-login {
width: 50%;
float: right;
  height: 100%;
}

.icon{  
    margin: 18% 10% auto;
    width: 15%;
}
  
[type=button]{
 padding: 3%;
}

#slide {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}

}
