*{
    margin: 0;
    box-sizing: border-box;
    font-family: segoe UI;
}

body {
   background: #fafafa;
   /*  background-color: #f5f7f8 !important; */
}

.wrapperMenu {
/*    background: #052F5F;*/
    background: #2b485d;
    width: 100%;
    padding: 10px;
    height: 70px;
    position: fixed;
    
}

.icon-menu {
   font-size: 35px;
    color: aliceblue;
    cursor: pointer;
    float: left;
}

#nameUser{
    float: right;
    margin: 1%;
    color: white;
}
/* Menu */
 #contenido {
    position: absolute;
    width: 80%;
    list-style: none;
    display: block;
    padding: 0;
    background: #2b485d;
    height: auto;
}

#menu li {
    border: 1px solid ;
    transition: all 0.3s;
}

#menu li:hover {
    border-left:10px solid #f1a203;
}

#menu a {
    font-size: 20px;
    padding: 10%;
    color: aliceblue;
}

a {
    text-decoration: none;
}

#logoTech{
    display: none;
}
#icono {
    overflow: auto;
    width: 13%;
    height: auto;
}
.msjerrorm{
    font-size: 5px;
}

.wrapper {
    padding: 1%;
    text-align: center;
    height: 80%;
    width:90%;
    margin: auto;
}
#txterror {
    color: #2b485d;
}
.top {
    padding-top: 22%;
}

.comentary {
    margin-top: 2%;
     border-radius: 8px;
     overflow: auto;
    /*box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);*/
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
     0 2px 10px 0 rgba(0,0,0,0.12);
}

textarea {
    border: none;
    width: 100%;
    resize: none;
    padding: 15px ;
    font-size: 16px ;
    outline: none;
}

[type=button] {
    cursor: pointer;
    margin: 1%;
    padding: 5%;
    border: none;
    border-radius: 7px;
    float: right;
    outline: none;
    color: white;
    
}
.no-like{
    background: #44d9e6;
}
.like{
    background: #f1a203; 
}
[type=button]:hover {
    background: #44d9e6;
}
.publish {
    margin: 3%;
}
.comentary select {
    border: 2px solid #F1A203;
    padding: 2%;
    margin: 4%;
    float: left;
    outline: none;
}

/* Seccion eliminar, editar*/
.section-seleccion {
    float: left;
}

.textValuefixed {
    width: 8%;
    font-size: 20px;
    text-align: center;
    border: none;
    float: right;
    margin: 20px 15px;
}

.users {
    font-size: 18px;
    float: left;
    margin: 10px ;
    text-transform: uppercase;
    color: #2b485d;
}

@media screen and (min-width:400px) {
    #logoTech{
     display: inline-block;
    overflow: auto;
    width: 28%;
    height: auto;
    }
    #icono {
     display: none;
    }
    #contenido {
        width: 40%;
    }
    
    [type=button] {
        padding: 2.5%;
    }
    .top {
    padding-top: 15%;
    }
}

@media screen and (min-width:600px) {
    #contenido {
        margin: 2% 0% 0% -1%;
    }

    .comentary select {
        padding: 2%;
        margin: 2%;
    }

    .top {
        padding-top: 12%;
    }
    
    #logoTech {
        width: 18%;
    }
}
@media screen and (min-width:800px) {
    .wrapper {
        width: 60%;
    }

    #contenido {
        margin: 1% 0% 0% -0.5%;
        width: 20%;
    }

    .top {
        padding-top: 10%;
    }
    
    [type=button] {
        padding: 1.5%;
    }
   
}

@media screen and (min-width:900px) {
     #logoTech {
         width: 10%;
         margin: -0.5%;
    }

    .top {
        padding-top: 5%;
    }
}