<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="assets/font/fontello.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/style.modal.css" />
    <link rel="stylesheet" href="assets/css/modal.css" />
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <title>Social Network</title>
</head>

<body>
    <header class="wrapperMenu">
        <img src="../view/assets/img/ED.png" alt="logoTech" id="logoTech" />
        <div id="menu" class="icon-menu">
            <ul id="contenido">
                <li id="li-menu">
                    <a href="#miModal" id="log-out">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
        <h3 id="nameUser"></h3>
    </header>
    <div id="container-modal"></div>
    <section class="wrapper top">
        <form class="comentary" id="form-content">
            <textarea name="textarea" rows="4" cols="50" placeholder="Ingresa tu opinión" id="txt-description-post"></textarea>
            <p id="txterror"></p>
            <select id="post-privacity-selector">
                <option value="PUBLICO">PUBLICO 🌎 </option>
                <option value="PRIVADO">PRIVADO 🔒</option>
            </select>
            <button type="button" id="btn-public-post" class="publish">PUBLICAR</button>
        </form>
    </section>

    <div id="mi-modal" class="modalView"></div>
    <section id="posts" class="wrapper"></section>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <script src="../model/firebase-config.js"></script>
    <script src="../model/functions-validation.js"></script>
    <script src="../model/wall.js"></script>
    <script src="../controller/dom-wall.js"></script>

</body>

</html>
